*{
    background-color: antiquewhite;
}




#audio{
    text-align: center;
    background-color: darksalmon;
    border-radius: 20px;
    padding: 8px 25px;
    margin: 10px auto;
    display: inline-block;
    
}

audio{
    border-radius: 20px;
}


body{
    text-align: center;
}

#video{
    text-align: center;
    background-color: darksalmon;
    border-radius: 20px;
    padding:  15px;
    margin: 10px 420px;
    display: block;
    width: fit-content;
   
}


#videoset{
    border-radius: 15px;
}


#ytvideo{
    text-align: center;
    background-color: darksalmon;
    border-radius: 20px;
    display: inline-block;
    padding: 8px 25px;
    margin: 10px auto;
}

#youtube-video{
    text-align: center;
    margin: 30px 0;
}

#youtube-video iframe{
  width: 560px;
  height: 315px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}


h1 {
  background-color: transparent; 
  padding: 0;
  margin-bottom: 15px;
}