*{
    background-color: antiquewhite;
}




#audio{
    text-align: center;
    background-color: darksalmon;
    border-radius: 20px;
    padding: 8px 25px;
    margin: 10px auto;
    display: inline-block;
    
}

audio{
    border-radius: 20px;
}


#audio,
#video,
#youtube-video{
  text-align: center;
}

#video{
    text-align: center;
    background-color: darksalmon;
    border-radius: 20px;
    padding:  15px;
    margin: 30px auto;
    display: block;
    max-width: 760px;
    width: 100%;
   
}

 video {
  width: 700px;       
  max-width: 100%;
  display: block;   
  margin: 0 auto;   
  border-radius: 15px;
}


#videoset{
    border-radius: 15px;
}


#ytvideo{
    text-align: center;
    background-color: darksalmon;
    border-radius: 20px;
    display: inline-block;
    padding: 8px 25px;
    margin: 10px auto;
}

#youtube-video{
    text-align: center;
    margin: 30px 0;
}

#youtube-video iframe{
  width: 560px;
  height: 315px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}


h1 {
  background-color: transparent; 
  padding: 0;
  margin-bottom: 15px;
}


